.cards-grid
  padding-top: 30px
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
  grid-gap: 15px
  object-fit: cover

.container
  display: flex
  justify-content: center

.search-title
  text-align: center

.no-dogs-message-container
  display: flex
  justify-content: center
  padding-top: 20px

.no-dogs-message
  text-align: center