.dog-logo-footer
  height: 70px
  width: 70px
  padding-top: 15px


.footer-content-container
    display: flex
    justify-content: space-between
    padding-top: 20px
    margin-left: 20px
    margin-right: 20px
    


.footer-message
  color: white
  text-align: justify
  font-size: 15px 
  @media (max-width: 648px)
    font-size: 10px

a
  color: white


.logo-title
  @media (max-width: 648px)
    font-size: 15px