.dog-logo-footer
  height: 70px
  width: 70px
  padding-top: 15px


.footer-content-container
    display: flex
    justify-content: center
    padding-top: 20px


.footer-message
  color: white 


a
  color: white 